*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, field set, legend, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  -webkit-appearance: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ""; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

input:password {
  ime-mode: disabled; }

*:focus {
  outline: none; }

ul {
  margin: 0;
  list-style: none; }

html, body {
  font-family: Microsoft YaHei, Helvetica, "Helvetica Neue", STHeiTi, Arial, sans-serif;
  min-height: 100%; }
input,button{
  font-family: Microsoft YaHei, Helvetica, "Helvetica Neue", STHeiTi, Arial, sans-serif;
}
a {
  text-decoration: none; }

.clearfix:after {
  content: "";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both; }

.clearfix {
  zoom: 1; }

@mixin transition($a){
    transition: $a;
    -webkit-transition: $a;
    -moz-transition: $a;
    -m-transition: $a;
}

@mixin transform($a){
    transform: $a;
    -webkit-transform: $a;
    -moz-transform: $a;
    -m-transform: $a;
}
